<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Example payment implementation</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="mt-5 mb-5 text-center">
        <h1>Example payment</h1>
        <hr>
    </div>
    <form method="post" action="{{ path('radnok_payu_payment_process') }}" id="form_1">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="example-text-input" class="col-4 col-form-label">Subscription</label>
                    <div class="col-8">
                        <input class="form-control" type="number" name="amount" value="50">
                        <textarea name="description" class="form-control">Jakiś opis usługi</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-4 col-form-label">First name</label>
                    <div class="col-8">
                        <input class="form-control" type="text" name="first_name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-4 col-form-label">Last name</label>
                    <div class="col-8">
                        <input class="form-control" type="text" name="last_name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-4 col-form-label">E-mail</label>
                    <div class="col-8">
                        <input class="form-control" type="text" name="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-4 col-form-label">Birth date</label>
                    <div class="col-8">
                        <input class="form-control" type="text" name="birth_date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-4 col-form-label">Phone number</label>
                    <div class="col-8">
                        <input class="form-control" type="text" name="phone_number">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-4 col-form-label">Street</label>
                    <div class="col-8">
                        <input class="form-control" type="text" name="street" maxlength="64">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-4 col-form-label">Number</label>
                    <div class="col-8">
                        <input class="form-control" type="number" name="nr">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-4 col-form-label">Post code</label>
                    <div class="col-8">
                        <input class="form-control" type="text" name="post_code" maxlength="6">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-4 col-form-label">City</label>
                    <div class="col-8">
                        <input class="form-control" type="text" name="city" maxlength="64">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-4 col-form-label">Mailing</label>
                    <div class="col-8">
                        <input class="form-control" type="checkbox" name="mailing" value="1">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="payu-widget"></div>
                <script
                        src="https://secure.payu.com/front/widget/js/payu-bootstrap.js"
                        merchant-pos-id="278521"
                        shop-name="pl.org.pah"
                        total-amount="100"
                        currency-code="PLN"
                        customer-language="pl"
                        store-card="true"
                        payu-brand="false"
                        success-callback="success_action"
                        widget-mode="pay"
                        customer-email="test@test.pl"
                        sig="dd82f53ca92b9643d936021fa9449f62905d46d55d92079e691303f3aff6cd8f">
                </script>
                <script>
                    function success_action($data) {
                        console.log("callback");
                        console.log($data);

                        $('#payment_token').val($data.value);
                        $('#payment_token_type').val($data.type);

                        $('#form_1').submit();
                    }
                </script>

                <input type="hidden" name="payment_type" value="recurring">
                <input type="hidden" name="token" id="payment_token">
                <input type="hidden" name="token_type" id="payment_token_type">
                <input type="hidden" name="formNr" value="1">
            </div>
        </div>
    </form>
</div>
</body>
</html>
